.formService  .pagination button {
    padding: 2px 20px;
    position: relative;
     top: 10px; 
    left: 10px; 
    display: inline;
    height: 40px;
    /* align-items: center; */
    vertical-align: middle;
    /* right: 30px; */
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.formService .tableThemKH{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}